.cities-wrapper {
  position: absolute;
  background-color: var(--color-background);
  height: 100%;
  width: 100%;
}

.cities__items {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-white);
}

.cities__item {
  width: 280px;
}
