.section-number__form-mobile {
  display: none;
}

.checkbox-container {
  display: flex;
}

.section-number {
  margin-top: 50px;
  margin-bottom: 144px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-number__formArea {
  max-width: 380px;
  line-height: 33px;
}

.send-promo-button {
  max-width: 250px;
}

.all-buttons {
  width: 200px;
}
.highlight {
  color: var(--color-accent);
  font-size: 24px;
}

.section-number__title-mobile {
  display: none;
  &span {
    display: none;
  }
}
.section-number__form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.section-number__title-desktop {
  display: block;
  font-size: 40px;
  line-height: 100px;
}

.highlight-desktop {
  display: block;
  color: var(--color-accent);
  font-size: 40px;
}
